@keyframes blowUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}

.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  caret-color: transparent;
  /* background-color: #986F9C; opacity: 0.8; */
}

.grid div {
  height: 70px;
  width: 70px;
  /* background-color: #986F9C; */
}

.square {
  animation-name: blowUp;
  animation-duration: 0.5s;
}

body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  width: 1120;
  height: 1120;
  background-color: bisque;
  /* background-size: 100% 250%;
  background-repeat: no-repeat; */
}

.score-board {
  height: 200px;
  width: 300px;
  background-color: #ff9c4d;
  display: flex;
  /* align-self: center; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-width: 20px;
  border-radius: 2px;
  border-style: double;
  border-color: #eddb66;
}

.score-board h1,h2 {
  font-family: "DotGothic16", sans-serif;
}

.timerboard {
  display: flex;
  font-family: "DotGothic16", sans-serif;
  background-color: #65c96f;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

#score {
  font-family: "DotGothic16", sans-serif;
}

.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  caret-color: transparent;
}

#startButton {
  display:block;
  width: 200px;
  height: 200px;
  background-image: url(images/startbutton.png);
}
#stopButton {
  display:none;
  width: 200px;
  height: 200px;
  background-image: url(images/stopButton.png);
}
.replay_popup{
  display: none;
  position: fixed;
  z-index: 1;
  left: 18.5%;
  top: 28%;
  width: 22%;
  height: 33%;
  background-color: #F9A694;
  border-radius: 20px;
}

/*Replay Pop up CSS*/

.replay_popup_content{ 
  background-color: #ffd7ce;
  margin: 8% auto;
  padding: 5%;
  /* border: 1px solid #888; */
  width: 67%;
  height: auto;
  /* position: relative; */
  border-radius: 20%;
  text-align: center;
  font-weight: bold;
}
.replay_popup_content > p{
  font-size: 15px;
}
#replay_button{
  background-color: #F76D4E;
  margin: 0% auto;
  padding: 6%;
  border: 1px solid #888;
  width: 50%;
  text-align: center;
  font-weight: bold;
  border-radius: 30%;
  font-size: 20px;


}
#replay_button:hover {
  background-color : #d16a53 
}

/* Screen size: 1024 or lower */
@media screen and (max-width: 1024px) {
  body {
    flex-direction: column;
  }

  .timerboard {
    grid-area: a;
  }
  .score-board {
    grid-area: b;
  }
  #startButton {
    grid-area: c;
  }

  .menu {
    display: grid;
    grid-template:
      "a a a"
      "b c c"
      "b c c";
  }
}
