@keyframes blowUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes click {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-10%);
  }
}

.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  /* background-color: #986F9C; opacity: 0.8; */
}

.grid div {
  height: 70px;
  width: 70px;
  /* background-color: #986F9C; */
}

.square {
  animation-name: blowUp;
  animation-duration: 0.5s;
}

body {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  background-size: 100% 115%;
  background-image: url(images/pixelBackground.png);
  background-repeat: no-repeat;
}

.score-board {
  height: 200px;
  width: 300px;
  background-color: #ff9c4d;
  display: flex;
  /* align-self: center; */
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-width: 20px;
  border-radius: 2px;
  border-style: double;
  border-color: #eddb66;
}

.score-board h1 {
  font-family: "DotGothic16", sans-serif;
}

.timerboard {
  display: flex;
  font-family: "DotGothic16", sans-serif;
  background-color: #65c96f;
  width: 100%;
  justify-content: center;
  margin-bottom: 30px;
}

#score {
  font-family: "DotGothic16", sans-serif;
}

.menu {
  display: flex;
  /* background-color:burlywood; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#startButton {
  width: 200px;
  height: 200px;
  background-image: url(images/startbutton.png);
}
