

@keyframes blowUp {
    0% { transform: scale(1);}
    100% {transform: scale(1.5);} 
}

@keyframes bounce {
    0% {transform: translateY(10%);}
    100%{transform: translateY(-10%);}
}

.grid{
    height: 560px;
    width: 560px;
    display: flex;
    flex-wrap: wrap;
   padding: 50px;
   
}

.grid div {
    height: 70px;
    width: 70px;
}

.square{
    animation-name: blowUp;
    animation-duration: 0.5s;
}



body {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    background-size: 100% 250%;
    background-repeat: no-repeat;
}

.score-board {
    height: 200px;
    width: 300px;
    background-color: #f7347a;
    display: flex;
    /* align-self: center; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-width: 20px;
    border-radius: 2px;
    border-style: double;
    border-color:#7af734
}

.score-board h1 {
    font-family: 'DotGothic16', sans-serif;
}

.timerboard {
    display: flex;
    font-family: 'DotGothic16', sans-serif;
     background-color: #7af734;
     width: 100%;
     justify-content: center;
     margin-bottom: 30px;
}

#score{
    font-family: 'DotGothic16', sans-serif;
}

.menu {
    display: flex;
    /* background-color:burlywood; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.menu button{
    width: 200px;
    height: 40px;
    background-color: ;
    margin-top: 30px;
    font-family: 'DotGothic16', sans-serif;
    font-size: large;
    font-weight: 700;
}